<section class="about-banner">
  <div class="container">
    <div class="about-banner-in">
      
      <!-- LEFT IMAGES -->
      <div class="left">
        <div class="ab-img-1">
          {% if section.settings.left_img_1 != blank %}
            <img src="{{ section.settings.left_img_1 | image_url }}" alt="Image" class="img">
          {% endif %}
        </div>

        <div class="ab-img-2">
          {% if section.settings.left_img_2 != blank %}
            <img src="{{ section.settings.left_img_2 | image_url }}" alt="Image" class="img">
          {% endif %}
        </div>
      </div>

      <!-- RIGHT CONTENT -->
      <div class="right">

        <div class="right-top">
          <div class="abrt-left">
            
            <div class="abrt-img">
              {% if section.settings.top_right_img != blank %}
                <img src="{{ section.settings.top_right_img | image_url }}" alt="Image" class="img">
              {% endif %}
            </div>

            <div class="abrt-text">
              <h1>{{ section.settings.heading }}</h1>
            </div>

          </div>
        </div>

        <div class="right-bottom">
          <div class="abrt-right">

            <div class="abrt-text">
              <p>{{ section.settings.description }}</p>
            </div>

            <div class="abrt-img">
              {% if section.settings.bottom_right_img != blank %}
                <img src="{{ section.settings.bottom_right_img | image_url }}" alt="Image" class="img">
              {% endif %}
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Banner",
  "settings": [
    
    {
      "type": "image_picker",
      "id": "left_img_1",
      "label": "Left Image 1"
    },
    {
      "type": "image_picker",
      "id": "left_img_2",
      "label": "Left Image 2"
    },
    {
      "type": "image_picker",
      "id": "top_right_img",
      "label": "Top Right Image"
    },
    {
      "type": "image_picker",
      "id": "bottom_right_img",
      "label": "Bottom Right Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Wellbeing, Simplified With Intention."
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Orbe exists to make feeling good less complicated through clean science, intentional design, and rituals that support the woman you’re becoming."
    }

  ],
  "presets": [
    {
      "name": "About Banner"
    }
  ]
}
{% endschema %}