<section class="feature-ingredients">
  <div class="container">
    <div class="feature-ingredients-in">
      {% if section.settings.heading != blank %}
      <div class="heading">
        <h2>{{ section.settings.heading }}</h2>
      </div>
      {% endif %}

      <div class="feature-ingredients-wrap">
        {% for block in section.blocks %}
        <div class="feature-ingredients-card" {{ block.shopify_attributes }}>
          <div class="f-ing-img">
            {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | image_url: width: 600 }}" alt="{{ block.settings.title | escape }}"
              class="img" loading="lazy" width="600" height="600">
            {% endif %}
          </div>
          <div class="f-ing-content">
            {% if block.settings.title != blank %}
            <h4>{{ block.settings.title }}</h4>
            {% endif %}
            {% if block.settings.text != blank %}
            <p>{{ block.settings.text }}</p>
            {% endif %}
            {% if block.settings.link_text != blank %}
            <a href="{{ block.settings.link | default: '#' }}" class="learn-more-cta">
              {{ block.settings.link_text }}
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="view-more-cta">
        <a href="#!" class="primary-btn">View More</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
"name": "Feature Ingredients",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Ingredients With Intention"
}
],
"blocks": [
{
"type": "ingredient",
"name": "Ingredient",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Ashwagandha"
},
{
"type": "textarea",
"id": "text",
"label": "Description",
"default": "Folate (as Quatrefolic® 6S-5-Methyltetrahydrofolate [Glucosamine Salt]) — 220.00 mcg"
},
{
"type": "text",
"id": "link_text",
"label": "Link text",
"default": "Learn more"
},
{
"type": "url",
"id": "link",
"label": "Link URL"
}
]
}
],
"presets": [
{
"name": "Feature Ingredients",
"blocks": [
{
"type": "ingredient",
"settings": {
"title": "Ashwagandha",
"text": "Folate (as Quatrefolic® 6S-5-Methyltetrahydrofolate [Glucosamine Salt]) — 220.00 mcg",
"link_text": "Learn more"
}
}
]
}
]
}
{% endschema %}