<footer>
  <div class="footer">
      <div class="footer-in">
        <div class="left">
          <div class="footer-logo">
            {% if section.settings.footer_logo != blank %}
              <img src="{{ section.settings.footer_logo | img_url: 'master' }}" alt="{{ section.settings.footer_logo.alt | default: shop.name }}" class="icon">
            {% else %}
              <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Group_1707486900.svg?v=1777620507" alt="Footer Logo" class="icon">
            {% endif %}
          </div>

          <div class="footer-nav">
            <div class="footer-nav-top">

              {% for i in (1..4) %}
                {% assign menu_setting = 'footer_menu_' | append: i %}
                {% assign heading_setting = 'footer_heading_' | append: i %}

                {% assign menu = section.settings[menu_setting] %}
                {% assign heading = section.settings[heading_setting] %}

                {% if menu != blank %}
                  <div class="footer-menu-column">

                    {% if heading != blank %}
                      <p class="footer-menu-heading">
                        {{ heading }}
                      </p>
                    {% endif %}

                    <ul>
                      {% for link in menu.links %}
                        <li>
                          <a href="{{ link.url }}">
                            {{ link.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>

                  </div>
                {% endif %}
              {% endfor %}

            </div>
              <div class="subscribe-news">
                <p>Subscribe to Newsletter</p>
                <p>You'll get an email once a month. We'll never share it.</p>
                <div class="subscribe-news-form">
                  <form method="post" action="/contact#footer-newsletter">
                    <input type="hidden" name="form_type" value="customer">
                    <input type="hidden" name="utf8" value="✓">
                    <input type="email" name="contact[email]" placeholder="Enter your email">
                    <input type="submit" value="Subscribe">
                  </form>
                </div>
              </div>
          </div>
        </div>

        <div class="right">
          <div class="footer-image">
            {% if section.settings.footer_image != blank %}
              <img src="{{ section.settings.footer_image | img_url: 'master' }}" alt="{{ section.settings.footer_image.alt | default: 'Footer Image' }}" class="icon">
            {% else %}
              <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Frame_2072749374_2.svg?v=1778152931" alt="Image" class="icon">
            {% endif %}
          </div>
        </div>
      </div>
  </div>
</footer>

<style>
  .footer-nav-links {
    display: flex;
    justify-content: space-between;
  }
</style>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Footer Image"
    },

    {
      "type": "header",
      "content": "Footer Menu 1"
    },
    {
      "type": "text",
      "id": "footer_heading_1",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "Menu"
    },

    {
      "type": "header",
      "content": "Footer Menu 2"
    },
    {
      "type": "text",
      "id": "footer_heading_2",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "Menu"
    },

    {
      "type": "header",
      "content": "Footer Menu 3"
    },
    {
      "type": "text",
      "id": "footer_heading_3",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "footer_menu_3",
      "label": "Menu"
    },

    {
      "type": "header",
      "content": "Footer Menu 4"
    },
    {
      "type": "text",
      "id": "footer_heading_4",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "footer_menu_4",
      "label": "Menu"
    }
  ]
}
{% endschema %}
