{% comment %}theme-check-disable ImgWidthAndHeight{% endcomment %}
<section class="guided-by">
    <div class="container-left">
        <div class="guided-by-in">
            <div class="top">
                <h2>{{ section.settings.heading }}</h2>
                <p>{{ section.settings.description }}</p>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="guided-by-nav">
                        <div class="prev-btn-guided">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="21.3472" cy="21.3472" r="21.3472" transform="matrix(-1 0 0 1 42.6943 0)"
                                    fill="#1A1A1A" />
                                <path
                                    d="M30.0313 20.8421L17.665 20.8421L22.9648 15.5423L22.2985 14.7852L15.7368 21.3469L22.2985 27.9086L22.9648 27.1515L17.665 21.8516L30.0313 21.8516L30.0313 20.8421Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="next-btn-guided">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="21.3472" cy="21.3472" r="21.3472" fill="#1A1A1A" />
                                <path
                                    d="M12.663 20.8421L25.0294 20.8421L19.7295 15.5423L20.3958 14.7852L26.9575 21.3469L20.3958 27.9086L19.7295 27.1515L25.0294 21.8516L12.663 21.8516L12.663 20.8421Z"
                                    fill="white" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="guided-by-slider owl-carousel">
                        {% for block in section.blocks %}
                            <div class="item" {{ block.shopify_attributes }}>
                                <div class="guided-by-card">
                                    {% if block.settings.image != blank %}
                                        <div class="guided-by-img">
                                            <img src="{{ block.settings.image | image_url }}" alt="" class="img">
                                        </div>
                                    {% endif %}
                                    <div class="text-content">
                                        {% if block.settings.name != blank %}
                                            <h3>{{ block.settings.name }}</h3>
                                        {% endif %}
                                        {% if block.settings.designation != blank %}
                                            <p>{{ block.settings.designation }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Guided By",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "expert",
      "name": "Expert",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "designation",
          "label": "Designation"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Guided By"
    }
  ]
}
{% endschema %}
