{% assign first_phase_menu = linklists['first-phase-header'] %}
{% if first_phase_menu == blank %}
  {% assign first_phase_menu = linklists['header-menu'] %}
{% endif %}

<header>
  <div class="header desktop first-phase-header">
    <div class="fph-bar">
      <nav class="fph-menu fph-menu-left" aria-label="Primary menu">
        <ul>
          {% for link in first_phase_menu.links limit: 1 %}
            {% assign left_link = link %}
            <li class="{% if left_link.links.size > 0 %}has-mega-dropdown{% endif %}">
              <a href="{{ left_link.url }}" class="fph-link">
                <span>{{ left_link.title }}</span>
                {% if left_link.links.size > 0 %}
                  {% render 'chivron-down' %}
                {% endif %}
              </a>

              {% if left_link.links.size > 0 %}
                <div class="fph-mega-dropdown">
                  <div class="fph-mega-inner">
                    <div class="fph-mega-copy">
                      <h2>{{ left_link.title }}</h2>
                      <ul>
                        {% for child_link in left_link.links %}
                          <li>
                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>

                    <a href="{{ left_link.url }}" class="fph-mega-card">
                      <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/37ac90a8325a2eb5fb7dcc774ce97dcf06f2caae.png?v=1777901848" alt="" class="img">
                      <span class="fph-mega-mark">
                        <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Group_2085663252_1.svg?v=1778140575" alt="" class="icon">
                      </span>
                    </a>
                  </div>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
{% comment %} <div class="center">
  {% render 'orbe-home-logo-black' %}
</div> {% endcomment %}
      <nav class="fph-menu fph-menu-right" aria-label="Secondary menu">
        <ul>
          {% for link in first_phase_menu.links offset: 1 limit: 1 %}
            <li>
              <a href="{{ link.url }}" class="fph-link">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li class="cart-icon">
            <a href="{{ routes.cart_url }}" aria-label="Cart">
              {% render 'cart-icon' %}
              {% if cart.item_count > 0 %}
                <span class="cart-count">{{ cart.item_count }}</span>
              {% endif %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header-mobile">
    <div class="header-mobile-head">
      <div class="hamburger">
        <svg width="30px" height="40px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" id="Слой_1" version="1.1"
          xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <rect fill="#1D1D1B" height=".6" width="9" x="0.5" y="5.5" />
            <rect fill="#1D1D1B" height=".6" width="9" x="0.5" y="2.5" />
            <rect fill="#1D1D1B" height=".6" width="9" x="0.5" y="8.5" />
          </g>
        </svg>
      </div>
      <div class="mobile-header-logo">
        <a href="/">
          <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Group_2085663247_1.svg?v=1777988237"
            class="icon" alt="">
        </a>
      </div>
      <div class="cart-btn">
        <a href="{{ routes.cart_url }}" aria-label="Cart">
          {% render 'cart-icon' %}
          {% if cart.item_count > 0 %}
            <span class="cart-count">{{ cart.item_count }}</span>
          {% endif %}
        </a>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="mobile-menu-in">
        <div class="close-menu">
          <svg width="20px" height="30px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" id="Слой_1" version="1.1"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon fill="#1D1D1B"
              points="12,0.7070313 11.2929688,0 6,5.2929688 0.7070313,0 0,0.7070313 5.2929688,6 0,11.2929688   0.7070313,12 6,6.7070313 11.2929688,12 12,11.2929688 6.7070313,6 " />
          </svg>
        </div>
        <ul>
          {% for link in first_phase_menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
              {% if link.links.size > 0 %}
                <ul>
                  {% for child_link in link.links %}
                    <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <div class="mobile-menu-bottom">
          <div class="left">
            <a href="{{ routes.all_products_collection_url }}">Shop N°1</a>
          </div>
          <div class="right">
            <div class="orbe-o">
              <img src="https://cdn.shopify.com/s/files/1/0739/8014/9916/files/Group_2085663252_1.svg?v=1778140575"
                alt="" class="icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
