<section class="standard-that-speaks">
    <div class="container">
        <div class="heading text-animation">
            {% if section.settings.heading != blank %}
                <h2>{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.description != blank %}
                <p>{{ section.settings.description }}</p>
            {% endif %}
        </div>
        <div class="standard-that-speaks-in">
            <div class="center-ring">
                {% for block in section.blocks limit: 6 %}
                    <div class="standard-ring-item standard-ring-item-{{ forloop.index }}" {{ block.shopify_attributes }}>
                        <div class="standard-ring-item-inner">
                            {% if block.settings.image != blank %}
                                {{ block.settings.image | image_url: width: 480 | image_tag: loading: 'lazy', alt: '', class: 'img' }}
                            {% endif %}
                            {% if block.settings.title != blank %}
                                <span>{{ block.settings.title | newline_to_br }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Standards That Speaks",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "standard",
      "name": "Standard",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Standards That Speaks"
    }
  ]
}
{% endschema %}
